/*.container {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

.inputBox {
	width: 30%;
	outline: none;
	border: 1px solid #c2c2c2;
	height: 30px;
}

.addBtn{
	padding: 10px;
	background: #bada55;
	outline: none;
	border: none;
	margin-left: 20px;
	cursor: pointer;
	color: #fff;
}*/

.container{
	/* display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; */
	background: #303841;
	min-height: 90vh;
}

.header h2 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin-top: 0;
	padding: 2vh;
}

.header input {
	border: none;
	outline: none;
	height: 30px;
}

.addBtn {
	margin-left: 20px;
	border: none;
	background: rgba(0,0,0,0.6);
	outline: none;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

.addBtn:disabled {
	opacity: 0.3;
	cursor: no-drop;
}

.completeAllBtn {
	border: none;
	background: rgba(0,150,0,0.6);
	outline: none;
	margin-left: 20px;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

.completeAllBtn:disabled {
	opacity: 0.3;
	cursor: no-drop;
}

.completeSelectedBtn{
	border: none;
	background: rgba(0,0,0,0.61);
	outline: none;
	margin-left: 20px;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

.completeSelectedBtn:disabled {
	opacity: 0.3;
	cursor: no-drop;
}

.deleteAllBtn {
	border: none;
	background: rgba(255,0,0,0.6);
	outline: none;
	margin-left: 20px;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

.deleteAllBtn:disabled {
	opacity: 0.3;
	cursor: no-drop;
}